@import './base.css';

/* *********************************** Common *********************************** */
#app {
  max-width: 1024px;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
  height: 10px;
}

.scrollbar:hover ::-webkit-scrollbar-track-piece {
  background-color: #fff;
  border-radius: 6px;
}

.scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background-color: #c0cecc;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #c0cedc;
  border-radius: 6px;
  outline: 1px solid #fff;
  outline-offset: -2px;
  border: 1px solid #fff;
}

.remark-calendar .van-calendar__day {
  flex-direction: column;
  justify-content: flex-start;
}

.remark-calendar .van-calendar__bottom-info {
  position: static;
}

.wrapper-with-nav {
  padding-bottom: 50px;
}

.text-through {
  text-decoration: line-through;
}

/* *********************************** Overwrite *********************************** */

:root:root {
  --van-primary-color: var(--wing-c-primary-color);
  --van-back-top-background: var(--wing-c-primary-color);
}

.van-switch {
  vertical-align: middle;
}

.van-icon {
  vertical-align: top;
}
